@tailwind base;
@tailwind components;
@tailwind utilities;

:root::-webkit-scrollbar {
  display: none;
}

:root {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html {
  font-family: "Roboto Serif Variable", sans-serif;
}

body,
* {
  cursor: default;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.placeholder {
  background-color: #e1fcff;
}

.canvas {
  background: #35daec;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -999;
}

.link {
  @apply md:p-6 p-4 hover:bg-slate-300;
}
